@font-face {
  font-family: Monospaced;
  src: url(./fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body,
button,
input {
  font-family: "Monospaced";
}

.hidden {
  display: none;
  visibility: hidden;
}

h1,
h3,
h4 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
}

.tictactoe {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
}

.game-grid {
  border: 1px solid black;
  text-align: center;
  font-size: 100px;
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  width: 150px;
  height: 30px;
}

button,
img {
  padding: 0;
  margin: 0;
}

img {
  width: 20px;
  height: 20px;
}

.reload-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.players-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button-submit {
  display: flex;
  justify-content: flex-end;
}

.form-fields {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  margin: 0;
}
